
<% const d = new Date()
let year = d.getFullYear() %>


<footer>
  <p class="copyright">
    &copy; <%= new Date().getFullYear() %>, CSE 340 App | Ernest Ohwojeheri<br>
    | Current Date: <%= new Date().getMonth() + 1 %>/<%= new Date().getDate() %>/<%= new Date().getFullYear() %>
    | Current Time: <%= new Date().getHours() %>:<%= new Date().getMinutes() %>:<%= new Date().getSeconds() %>
  </p>
 <p><a href="/cause-error">Trigger Server Error</a>
  </p>
</footer>

